@import url(webfont-ubuntu-400-300-100.css);
@import url(webfont-ubuntu-mono-400-700-400italic.css);
/* @import url(https://fonts.googleapis.com/css?family=ubuntu:400,300,100); */
/* @import url(https://fonts.googleapis.com/css?family=ubuntu+mono:400,700,400italic); */

body {
  font-family: 'Ubuntu';
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu';
  font-weight: normal;
  margin-top: 0;
}

h1 { font-weight: 300; }
h1, h2 { 
  margin-top: 0.5em; 
}
h2 {
  font-size: 140%;
  line-height: 150%;
}
h3 {
  font-size: 120%;
  line-height: 140%;
}
ol li { 
  font-size: 100%;
  line-height: 140%;
}
ul {
    font-size: 120%;
    line-height: 140%;
}

li {
  font-size: 90%;
  line-height: 140%;
}
p {
  font-size: 120%;
  line-height: 140%;
}
a {
  color: #1f7ab8cb;
  text-decoration: none;
}
a:hover {
  color: #b12e17cb;
  text-decoration: underline;
}
a:visited {
  color: #1f7ab8cb;
}

.bottomlogo {
  position: absolute;
  bottom: 2em;
  left: 3em;
  max-height: 100px;
}

.footnote {
    font-size: 80%;
    font-weight: 300;
    position: absolute;
    bottom: 3em;
    right: 3em;
}

.left-column {
  width: 49%;
  float: left;
}
.right-column {
  width: 49%;
  float: right;
}
.reset-column {
  overflow: auto;
  width: 100%;
}
.middle-left {
    width: 50%;
    float: left;
    vertical-align: middle;
}

.grey { color: #bbbbbb; }
.dark-grey { color: #333131; }
.red { color: rgba(194, 13, 79, 0.877); }
.blue { color: #0368bb; }
.green { color: #0b794b8e; }

.singleimg .middlebelowheader {
  text-align: center;
}

.singleimg img {
  vertical-align: middle;
  text-align: center;
  max-width: 90%;
  max-height: 600px;
  /*border: 2px solid #ddd;*/
}

.circle-image{
    width:170px;
    height:170px;
    border-radius:50%;
    /* display:block; */
    /* background-position-y:25%  */
}

code {
  border-radius: 10px;
}

table {
  margin: 0 auto 0.8em;
  border-collapse: collapse;
}
td, th {
  border: 1px solid #ddd;
  padding: 0.3em 0.5em;
}

.bgheader h1 {
  /* background-color: rgba(0, 0, 0, 0.9); */
  background-image: url(../03_deep_learning/img/brain3.png);
  background-position: right;
  opacity: 50%;
  padding: 0.5em;
  color: white;
  border-radius: .5em;
}
.middlebelowheader {
  /* This fixed size height was found to work well with the slide
     scaling mechanism of remark.js:
   */
  height: 500px;
  display: table-cell;
  vertical-align: middle;
}
.widespace h2 {
  line-height: 200%;
}
.big .remark-code  {
  font-size: 200%;
}
.remark-code, .remark-inline-code {
   font-family: 'Ubuntu Mono';
}

.remark-code-line-highlighted {
    /* background-color: #e2aac0; */
    background-color: #0ccfcf8e;
}

.remark-slide-content {
  background-position: right;
}

.medium .remark-code  {
  font-size: 120%;
}

.mmedium .remark-code  {
  font-size: 99%;
}

.affiliations img {
  height: 44px;
  margin: 2em;
}

.hidden {
  visibility: hidden;
}

.small {
  font-size: 90%;
}
.medium{
  font-size: 120%;
}
.big {
  font-size: 150%;
}
.huge {
  font-size: 180%;
}

.credits {
  font-style: italic;
  font-size: 70%;
  float: right;
  float: bottom;
}

.bunchoflogos img {
  max-height: 100px;
  padding: 1em;
}

.bunchoflogos p {
  text-align: center;
  width: 750px;
}
